<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="placeholderConfigConfig"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesMode">
            <util:constant
                static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

    <bean id="placeholderConfig"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"
            value="file:${photogal.data.dir}/applicationContext.properties" />
    </bean>

    <bean id="databaseDirectory" class="java.lang.String">
        <constructor-arg value="${db.dir}" />
    </bean>

    <bean id="databaseURL" class="java.lang.String">
        <constructor-arg value="jdbc:hsqldb:file:${db.dir}/photogal" />
    </bean>

    <bean id="imageFileAccessManager" class="org.sixcats.utils.FileAccessManager">
        <property name="baseDirectory" value="${images.dir}" />
    </bean>

    <bean id="scaledImageCalculator" class="net.sourceforge.photogal.image.ScaledImageCalculator">
        <property name="maxSizes">
            <map>
                <entry key="t">
                    <value type="java.lang.Integer">
                        ${scaledImage.maxSize.t}
					</value>
                </entry>
                <entry key="s">
                    <value type="java.lang.Integer">
                        ${scaledImage.maxSize.s}
					</value>
                </entry>
                <entry key="m">
                    <value type="java.lang.Integer">
                        ${scaledImage.maxSize.m}
					</value>
                </entry>
                <entry key="l">
                    <value type="java.lang.Integer">
                        ${scaledImage.maxSize.l}
					</value>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="scaledImageCache" class="net.sourceforge.photogal.image.ScaledImageCache">
        <property name="scaledImageCalculator" ref="scaledImageCalculator" />
        <property name="cacheDirectory" value="${scaledImage.cache.dir}" />
        <property name="imageScaler">
            <bean class="org.sixcats.utils.image.NobelImageScaler" />
        </property>
    </bean>

    <bean id="thumbnailGenerator" class="net.sourceforge.photogal.image.ThumbnailGenerator"
        destroy-method="stop">
        <property name="fileAccessManager" ref="imageFileAccessManager" />
        <property name="scaledImageCache" ref="scaledImageCache" />
        <property name="throttleDelay" value="${thumbnail.generation.throttle.delay}" />
    </bean>

    <bean id="dataSource" class="org.hsqldb.jdbc.jdbcDataSource">
        <property name="database" ref="databaseURL" />
        <property name="user" value="sa" />
        <property name="password" value="" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>net/sourceforge/photogal/Gallery.hbm.xml</value>
                <value>net/sourceforge/photogal/ImageDescriptor.hbm.xml</value>
            </list>
        </property>
        <property name="cacheProvider">
            <bean class="org.hibernate.cache.NoCacheProvider" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>
    </bean>

    <bean id="hsqlLifecycleManager" class="net.sourceforge.photogal.db.HsqlLifecycleManager"
        init-method="startup" destroy-method="shutdown">
        <property name="databaseScript"
            value="classpath:net/sourceforge/photogal/hsql/db.script" />
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="photogalDao" class="net.sourceforge.photogal.hibernate.HibernatePhotogalDao"
        depends-on="hsqlLifecycleManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <bean class="org.springframework.scheduling.timer.ScheduledTimerTask">
                <property name="runnable" ref="thumbnailGenerator" />
                <property name="delay" value="${thumbnail.generation.delay}"></property>
                <property name="period" value="${thumbnail.generation.period}" />
            </bean>
        </property>
    </bean>
</beans>